<div class="navbar navbar-default custom-nav">
  <div class="container-fluid fak">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Spotifer.</a>
    </div>
    <ul class="nav navbar-nav navbar-left kw">
      <li class="foo">
        <form action="" method="post">
          <span class="fa fa-search"></span>
          <input type="text" name="search" class="search" placeholder="Search">
        </form>
      </li>
    </ul>
    <ul class="navbar-nav nav navbar-right fw">
      <li><a href="#" class="upgrade">UPGRADE</a></li>
      <li><a href="#" class="message asaf"><span class="fa fa-inbox" aria-hidden="true"></span></a></li>
      <li><a href="#" class="notif asaf"><span class="fa fa-bell" aria-hidden="true"></span></a></li>
      <li><a href="#" class="prfo"><img src="/images/default/de.png" width="38" alt=""></a></li>
    </ul>
  </div>
</div>
