.main-pg .nger {
  width: 100%; }
  .main-pg .nger .left-nav {
    float: left;
    position: fixed;
    border-right: 2px solid #282a2d;
    width: 230px;
    background-color: #303236;
    height: 620px; }
    .main-pg .nger .left-nav .content-left-nav {
      padding: 25px 30px; }
      .main-pg .nger .left-nav .content-left-nav .main {
        color: #686D73;
        font-weight: 600;
        font-size: 12px; }
      .main-pg .nger .left-nav .content-left-nav .njir li {
        color: #9b9da5;
        padding-bottom: 15px;
        font-size: 12px;
        font-weight: 600; }
        .main-pg .nger .left-nav .content-left-nav .njir li .fa {
          margin-right: 5px;
          font-size: 14px !important;
          font-weight: normal; }
      .main-pg .nger .left-nav .content-left-nav .njir li.act {
        color: #fff; }
        .main-pg .nger .left-nav .content-left-nav .njir li.act:before {
          position: absolute;
          left: 0;
          content: "";
          width: 3px;
          background-color: #81b304;
          height: 35px;
          margin-top: -10px; }
