.main-pg {
  padding-top: 60px; }

.main-pg .nger {
  width: 100%; }

.main-pg .nger .left-nav {
  float: left;
  position: fixed;
  border-right: 2px solid #282a2d;
  z-index: 98;
  width: 230px;
  background-color: rgba(48, 50, 54, 0.96);
  height: 620px;
  -webkit-box-shadow: 61px 5px 120px -10px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 61px 5px 120px -10px rgba(0, 0, 0, 0.12);
  box-shadow: 61px 5px 120px -10px rgba(0, 0, 0, 0.12); }

.main-pg .nger .left-nav .content-left-nav {
  padding: 25px 30px; }

.main-pg .nger .left-nav .content-left-nav .main {
  color: #686D73;
  font-weight: 600;
  font-size: 12px; }

.main-pg .nger .left-nav .content-left-nav .njir {
  margin-bottom: 30px; }

.main-pg .nger .left-nav .content-left-nav .njir li {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer; }

.main-pg .nger .left-nav .content-left-nav .njir li a {
  color: #9b9da5;
  text-decoration: none; }

.main-pg .nger .left-nav .content-left-nav .njir li a .fa {
  margin-right: 5px;
  font-size: 14px !important;
  font-weight: normal; }

.main-pg .nger .left-nav .content-left-nav .njir li.act a {
  color: #fff; }

.main-pg .nger .left-nav .content-left-nav .njir li.act:before {
  position: absolute;
  left: 0;
  content: "";
  width: 3px;
  background-color: #81b304;
  height: 35px;
  margin-top: -10px; }

.main-pg .nger .content-nav {
  background-color: #33353a;
  padding-left: 230px;
  width: 100%;
  height: 100% !important;
  z-index: 97; }

.main-pg .nger .content-nav .main-isi {
  float: left;
  width: 66.3%;
  height: 615px;
  position: fixed;
  background-color: rgba(51, 53, 58, 0.965);
  overflow-y: scroll; }

.main-pg .nger .content-nav .main-isi .ilov {
  height: 650px; }

.main-pg .nger .content-nav .right-isi {
  position: fixed;
  right: 0px;
  width: 230px;
  height: 620px;
  background-color: rgba(48, 50, 54, 0.91);
  border-left: 2px solid #282a2d;
  z-index: 98;
  -webkit-box-shadow: -61px 5px 120px -10px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: -61px 5px 120px -10px rgba(0, 0, 0, 0.12);
  box-shadow: -61px 5px 120px -10px rgba(0, 0, 0, 0.12); }

.main-pg .nger .content-nav .right-isi .who-to-follow {
  padding: 15px;
  border-bottom: 2px solid #282a2d; }

.main-pg .nger .content-nav .right-isi .who-to-follow .who {
  color: #9b9da5;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0px;
  position: absolute; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img {
  text-align: center; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img .item {
  padding-top: 25px; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img .item .fa-close {
  color: #fff;
  padding: 3px 5px;
  padding-bottom: 5px;
  font-size: 10px;
  background-color: #282a2d;
  position: absolute;
  border-radius: 31px;
  top: 0px;
  right: 12px;
  font-weight: lighter;
  z-index: 101; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img .item img {
  width: 60px;
  border-radius: 50%;
  margin: 0 auto; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img .item .name {
  font-weight: 600;
  margin-top: 10px;
  color: #fff;
  margin-bottom: 3px;
  font-size: 13px; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img .item .follower {
  color: #6D7178;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img .item .btn-fo {
  background-color: #81b304;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
  padding: 6px 35px; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .carousel-control {
  top: auto;
  margin-bottom: 33%;
  z-index: 100; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .carousel-control .fa {
  color: #fff; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .carousel-control.left, .main-pg .nger .content-nav .right-isi .who-to-follow #carousel .carousel-control.right {
  background-image: none; }

.main-pg .nger .content-nav .right-isi .notifsd {
  max-height: 399px; }

.main-pg .nger .content-nav .right-isi .notifsd .fly {
  padding: 15px;
  padding-top: 19px;
  padding-bottom: 30px;
  border-bottom: 2px solid #282a2d; }

.main-pg .nger .content-nav .right-isi .notifsd .fly p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 600; }

.main-pg .nger .content-nav .right-isi .notifsd .fly p span {
  color: #9b9da5;
  font-weight: 400; }

.main-pg .nger .content-nav .right-isi .notifsd .fly .ckeck {
  font-style: italic;
  font-weight: 400;
  color: #9b9da5;
  font-size: 12px;
  margin-bottom: 10px; }

.main-pg .nger .content-nav .right-isi .notifsd .fly img {
  width: 50px;
  float: left;
  margin-right: 10px;
  border-bottom: 2px solid #81b304; }

.main-pg .nger .content-nav .right-isi .notifsd .fly .hole {
  padding-top: 6px; }

.main-pg .nger .content-nav .right-isi .notifsd .fly .hole .ooo, .main-pg .nger .content-nav .right-isi .notifsd .fly .hole p {
  font-size: 13px;
  font-weight: 600; }

.main-pg .nger .content-nav .right-isi .notifsd .fly .hole .ooo a, .main-pg .nger .content-nav .right-isi .notifsd .fly .hole p a {
  color: #fff;
  text-decoration: none; }

.main-pg .nger .content-nav .right-isi .notifsd .fly .hole p {
  padding-top: 5px;
  font-size: 12px; }

.main-pg .nger .content-nav .right-isi .notifsd .fly .hole p a {
  color: #9b9da5;
  text-decoration: none; }
