@import "main_pg.scss";

body {
  font: 14px "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/default/2k.png');
  width: 100%;
  background-size: cover;
  height: 615px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent;
  background-image: none;
  color: #6D7178;
}

.custom-nav {
  background-color: rgba(48, 50, 54, .98);
  border-radius: 0px;
  margin-bottom: 0px;
  border: none;
  border-bottom: 2px solid rgba(40, 42, 45, 1);
  position: fixed;
  width: 100%;
  z-index: 99;
}

.custom-nav .fak {
  width: 95%;
}
.custom-nav .fak .navbar-header {
  padding-left: 25px;
}
.custom-nav .fak .navbar-header .navbar-brand {
  font-size: 18px;
  font-weight: 600;
  margin-top: 3.5px;
  outline: none;
  color: #fff;
}

.custom-nav .fak .kw .foo {
  padding-left: 70px;
}

.custom-nav .fak .kw .foo .fa-search {
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  color: #a9a9ae;
}

.custom-nav .fak .kw .foo {
  padding-top: 16.5px;
}

.custom-nav .fak .kw .foo input {
  background-color: #303236;
  border-radius: 5px;
  border: 1px solid #4F5258;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 500;
  width: 215px;
  color: #a9a9a9;
  padding-left: 30px;
  outline: none;
}

.custom-nav .fak .fw .upgrade {
  background-color: #03a9f4;
  padding: 6px 25px;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
  margin-right: 35px;
}

.custom-nav .fak .fw .asaf {
  color: #4F5258;
  font-size: 18px;
  font-weight: normal;
  margin-right: 10px;
  margin-top: 6px;
}
.custom-nav .fak .fw .prfo {
  img {
    border-radius: 100%;
  }
  &:after {
    content: "\f078";
    font-family: "FontAwesome";
    color: #4F5258;
    font-size: 10px;
    margin-left: 10px;
  }
}


.custom-nav .fak .fw li a {
  outline: none;
}

.login-btn {
  padding-top: 40px;
}

.login-btn-detail {
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  outline: none;
  font-size: 12px;
  border: none;
}

.login-bg {
  background-color: #303236;
  width: 100%;
  height: 675px;
  .container {
    .lagi-lagi {
      text-align: center;
      padding-top: 10%;
      .title {
        h4 {
          font-family: 'Roboto', Helvetica, Arial;
          font-size: 45px;
          color: #fff;
          font-weight: 600;
          padding-left: 40px;
          .fa {
            margin-right: 15px;
            font-size: 85px;
            position: absolute;
            margin-left: -80px;
            margin-top: -20px;
            font-weight: normal;
          }
        }
      }
      .facebook {
        @extend .login-btn;
        .btn-facebooks {
          @extend .login-btn-detail;
          background-color: #39579b;
          padding: 13px 95px;
        }
      }
      .email {
        padding-top: 20px;
        .btn-enail {
          @extend .login-btn-detail;
          background-color: #6D7178;
          padding: 13px 79px;
        }
        .btn-f {
          padding: 13px 150px;
        }
      }
      .sprt {
        padding: 20px 40%;
        .jka {
          line-height: 18px;
          color: #6D7178;
          font-size: 12px;
          font-weight: 300;
          span {
            color: #b7b7b7;
            font-weight: 500;
          }
          &:after {
            position: absolute;
            content: "";
            width: 50px;
            height: 1.5px;
            background-color: #b7b7b7;
            margin-top: 45px;
            margin-left: -135px;
          }
        }
      }
      .fir {
        padding-top: 20px;
        .fo {
          background-color: transparent;
          border: none;
          color: #b7b7b7;
          font-size: 12px;
          font-weight: 600;
          outline: none;
        }
      }
      .or {
        padding: 20px 35.5%;
        hr {
          // border-bottom: 1px solid #6D7178;
          border-color: rgba(255,255,255,.2);
        }
        span {
          color: #6D7178;
          font-weight: 500;
          position: absolute;
          margin-top: -40px;
          margin-left: -15px;
          padding: 10px;
          background-color: #303236;
        }
      }
      .frm {
        padding: 0px 35.5%;
        text-align: left;
        .form-group {
          label {
            font-size: 12px;
            color: #6D7178;
            font-weight: 600;
            margin-bottom: 0px;
          }
          .firm {
            background-color: transparent;
            border-radius: 0px;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,.2);
            outline: none;
            box-shadow: none;
            padding-left: 0px;
            padding-bottom: 0px;
            font-size: 12px;
            font-weight: 600;
            color: #6D7178;
          }
          ul {
            padding-top: 10px;
            li {
              padding-right: 20px;
              span {
                @extend label;
                margin-left: 5px;
              }
            }
          }
          .agr {
            @extend label;
            margin-left: 5px;
          }
        }
      }
      .light {
        text-align: center !important;
        padding-top: 20px;
        a {
          color: #b7b7b7;
          font-size: 12px;
          font-weight: 600;
          outline: none;
          text-decoration: none;
        }
      }
      .capt {
        h3 {
          color: #fff;
          font-weight: 600;
          padding-top: 10px;
        }
      }
    }
  }
}
