.main-pg {
  padding-top: 60px; }

.main-pg .nger {
  width: 100%; }

.main-pg .nger .left-nav {
  float: left;
  position: fixed;
  border-right: 2px solid #282a2d;
  z-index: 98;
  width: 230px;
  background-color: rgba(48, 50, 54, 0.96);
  height: 620px;
  -webkit-box-shadow: 61px 5px 120px -10px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 61px 5px 120px -10px rgba(0, 0, 0, 0.12);
  box-shadow: 61px 5px 120px -10px rgba(0, 0, 0, 0.12); }

.main-pg .nger .left-nav .content-left-nav {
  padding: 25px 30px; }

.main-pg .nger .left-nav .content-left-nav .main {
  color: #686D73;
  font-weight: 600;
  font-size: 12px; }

.main-pg .nger .left-nav .content-left-nav .njir {
  margin-bottom: 30px; }

.main-pg .nger .left-nav .content-left-nav .njir li {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer; }

.main-pg .nger .left-nav .content-left-nav .njir li a {
  color: #9b9da5;
  text-decoration: none; }

.main-pg .nger .left-nav .content-left-nav .njir li a .fa {
  margin-right: 5px;
  font-size: 14px !important;
  font-weight: normal; }

.main-pg .nger .left-nav .content-left-nav .njir li.act a {
  color: #fff; }

.main-pg .nger .left-nav .content-left-nav .njir li.act:before {
  position: absolute;
  left: 0;
  content: "";
  width: 3px;
  background-color: #81b304;
  height: 35px;
  margin-top: -10px; }

.main-pg .nger .content-nav {
  background-color: #33353a;
  padding-left: 230px;
  width: 100%;
  height: 100% !important;
  z-index: 97; }

.main-pg .nger .content-nav .main-isi {
  float: left;
  width: 66.3%;
  height: 615px;
  position: fixed;
  background-color: rgba(51, 53, 58, 0.965);
  overflow-y: scroll; }

.main-pg .nger .content-nav .main-isi .ilov {
  height: 650px; }

.main-pg .nger .content-nav .right-isi {
  position: fixed;
  right: 0px;
  width: 230px;
  height: 620px;
  background-color: rgba(48, 50, 54, 0.91);
  border-left: 2px solid #282a2d;
  z-index: 98;
  -webkit-box-shadow: -61px 5px 120px -10px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: -61px 5px 120px -10px rgba(0, 0, 0, 0.12);
  box-shadow: -61px 5px 120px -10px rgba(0, 0, 0, 0.12); }

.main-pg .nger .content-nav .right-isi .who-to-follow {
  padding: 15px;
  border-bottom: 2px solid #282a2d; }

.main-pg .nger .content-nav .right-isi .who-to-follow .who {
  color: #9b9da5;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0px;
  position: absolute; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img {
  text-align: center; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img .item {
  padding-top: 25px; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img .item .fa-close {
  color: #fff;
  padding: 3px 5px;
  padding-bottom: 5px;
  font-size: 10px;
  background-color: #282a2d;
  position: absolute;
  border-radius: 31px;
  top: 0px;
  right: 12px;
  font-weight: lighter;
  z-index: 101; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img .item img {
  width: 60px;
  border-radius: 50%;
  margin: 0 auto; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img .item .name {
  font-weight: 600;
  margin-top: 10px;
  color: #fff;
  margin-bottom: 3px;
  font-size: 13px; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img .item .follower {
  color: #6D7178;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .slider_img .item .btn-fo {
  background-color: #81b304;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
  padding: 6px 35px; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .carousel-control {
  top: auto;
  margin-bottom: 33%;
  z-index: 100; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .carousel-control .fa {
  color: #fff; }

.main-pg .nger .content-nav .right-isi .who-to-follow #carousel .carousel-control.left, .main-pg .nger .content-nav .right-isi .who-to-follow #carousel .carousel-control.right {
  background-image: none; }

.main-pg .nger .content-nav .right-isi .notifsd {
  max-height: 399px; }

.main-pg .nger .content-nav .right-isi .notifsd .fly {
  padding: 15px;
  padding-top: 19px;
  padding-bottom: 30px;
  border-bottom: 2px solid #282a2d; }

.main-pg .nger .content-nav .right-isi .notifsd .fly p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 600; }

.main-pg .nger .content-nav .right-isi .notifsd .fly p span {
  color: #9b9da5;
  font-weight: 400; }

.main-pg .nger .content-nav .right-isi .notifsd .fly .ckeck {
  font-style: italic;
  font-weight: 400;
  color: #9b9da5;
  font-size: 12px;
  margin-bottom: 10px; }

.main-pg .nger .content-nav .right-isi .notifsd .fly img {
  width: 50px;
  float: left;
  margin-right: 10px;
  border-bottom: 2px solid #81b304; }

.main-pg .nger .content-nav .right-isi .notifsd .fly .hole {
  padding-top: 6px; }

.main-pg .nger .content-nav .right-isi .notifsd .fly .hole .ooo, .main-pg .nger .content-nav .right-isi .notifsd .fly .hole p {
  font-size: 13px;
  font-weight: 600; }

.main-pg .nger .content-nav .right-isi .notifsd .fly .hole .ooo a, .main-pg .nger .content-nav .right-isi .notifsd .fly .hole p a {
  color: #fff;
  text-decoration: none; }

.main-pg .nger .content-nav .right-isi .notifsd .fly .hole p {
  padding-top: 5px;
  font-size: 12px; }

.main-pg .nger .content-nav .right-isi .notifsd .fly .hole p a {
  color: #9b9da5;
  text-decoration: none; }

body {
  font: 14px "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/default/2k.png");
  width: 100%;
  background-size: cover;
  height: 615px; }

a {
  color: #00B7FF;
  text-decoration: none; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent;
  background-image: none;
  color: #6D7178; }

.custom-nav {
  background-color: rgba(48, 50, 54, 0.98);
  border-radius: 0px;
  margin-bottom: 0px;
  border: none;
  border-bottom: 2px solid #282a2d;
  position: fixed;
  width: 100%;
  z-index: 99; }

.custom-nav .fak {
  width: 95%; }

.custom-nav .fak .navbar-header {
  padding-left: 25px; }

.custom-nav .fak .navbar-header .navbar-brand {
  font-size: 18px;
  font-weight: 600;
  margin-top: 3.5px;
  outline: none;
  color: #fff; }

.custom-nav .fak .kw .foo {
  padding-left: 70px; }

.custom-nav .fak .kw .foo .fa-search {
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  color: #a9a9ae; }

.custom-nav .fak .kw .foo {
  padding-top: 16.5px; }

.custom-nav .fak .kw .foo input {
  background-color: #303236;
  border-radius: 5px;
  border: 1px solid #4F5258;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 500;
  width: 215px;
  color: #a9a9a9;
  padding-left: 30px;
  outline: none; }

.custom-nav .fak .fw .upgrade {
  background-color: #03a9f4;
  padding: 6px 25px;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
  margin-right: 35px; }

.custom-nav .fak .fw .asaf {
  color: #4F5258;
  font-size: 18px;
  font-weight: normal;
  margin-right: 10px;
  margin-top: 6px; }

.custom-nav .fak .fw .prfo img {
  border-radius: 100%; }

.custom-nav .fak .fw .prfo:after {
  content: "\f078";
  font-family: "FontAwesome";
  color: #4F5258;
  font-size: 10px;
  margin-left: 10px; }

.custom-nav .fak .fw li a {
  outline: none; }

.login-btn, .login-bg .container .lagi-lagi .facebook {
  padding-top: 40px; }

.login-btn-detail, .login-bg .container .lagi-lagi .facebook .btn-facebooks, .login-bg .container .lagi-lagi .email .btn-enail {
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  outline: none;
  font-size: 12px;
  border: none; }

.login-bg {
  background-color: #303236;
  width: 100%;
  height: 675px; }

.login-bg .container .lagi-lagi {
  text-align: center;
  padding-top: 10%; }

.login-bg .container .lagi-lagi .title h4 {
  font-family: 'Roboto', Helvetica, Arial;
  font-size: 45px;
  color: #fff;
  font-weight: 600;
  padding-left: 40px; }

.login-bg .container .lagi-lagi .title h4 .fa {
  margin-right: 15px;
  font-size: 85px;
  position: absolute;
  margin-left: -80px;
  margin-top: -20px;
  font-weight: normal; }

.login-bg .container .lagi-lagi .facebook .btn-facebooks {
  background-color: #39579b;
  padding: 13px 95px; }

.login-bg .container .lagi-lagi .email {
  padding-top: 20px; }

.login-bg .container .lagi-lagi .email .btn-enail {
  background-color: #6D7178;
  padding: 13px 79px; }

.login-bg .container .lagi-lagi .email .btn-f {
  padding: 13px 150px; }

.login-bg .container .lagi-lagi .sprt {
  padding: 20px 40%; }

.login-bg .container .lagi-lagi .sprt .jka {
  line-height: 18px;
  color: #6D7178;
  font-size: 12px;
  font-weight: 300; }

.login-bg .container .lagi-lagi .sprt .jka span {
  color: #b7b7b7;
  font-weight: 500; }

.login-bg .container .lagi-lagi .sprt .jka:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 1.5px;
  background-color: #b7b7b7;
  margin-top: 45px;
  margin-left: -135px; }

.login-bg .container .lagi-lagi .fir {
  padding-top: 20px; }

.login-bg .container .lagi-lagi .fir .fo {
  background-color: transparent;
  border: none;
  color: #b7b7b7;
  font-size: 12px;
  font-weight: 600;
  outline: none; }

.login-bg .container .lagi-lagi .or {
  padding: 20px 35.5%; }

.login-bg .container .lagi-lagi .or hr {
  border-color: rgba(255, 255, 255, 0.2); }

.login-bg .container .lagi-lagi .or span {
  color: #6D7178;
  font-weight: 500;
  position: absolute;
  margin-top: -40px;
  margin-left: -15px;
  padding: 10px;
  background-color: #303236; }

.login-bg .container .lagi-lagi .frm {
  padding: 0px 35.5%;
  text-align: left; }

.login-bg .container .lagi-lagi .frm .form-group label, .login-bg .container .lagi-lagi .frm .form-group ul li span, .login-bg .container .lagi-lagi .frm .form-group .agr {
  font-size: 12px;
  color: #6D7178;
  font-weight: 600;
  margin-bottom: 0px; }

.login-bg .container .lagi-lagi .frm .form-group .firm {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  box-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  font-weight: 600;
  color: #6D7178; }

.login-bg .container .lagi-lagi .frm .form-group ul {
  padding-top: 10px; }

.login-bg .container .lagi-lagi .frm .form-group ul li {
  padding-right: 20px; }

.login-bg .container .lagi-lagi .frm .form-group ul li span {
  margin-left: 5px; }

.login-bg .container .lagi-lagi .frm .form-group .agr {
  margin-left: 5px; }

.login-bg .container .lagi-lagi .light {
  text-align: center !important;
  padding-top: 20px; }

.login-bg .container .lagi-lagi .light a {
  color: #b7b7b7;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  text-decoration: none; }

.login-bg .container .lagi-lagi .capt h3 {
  color: #fff;
  font-weight: 600;
  padding-top: 10px; }
