<div class="main-pg">
  <div class="nger">
    <div class="left-nav">
      <div class="content-left-nav">
        <p class="main">Main</p>
        <ul class="list-unstyled njir">
          <li class="act"><a href="#"><i class="fa fa-codiepie" aria-hidden="true"></i> Browser</a></li>
          <li><a href="#"><i class="fa fa-map-signs" aria-hidden="true"></i> Activity</a></li>
          <li><a href="#"><i class="fa fa-podcast" aria-hidden="true"></i> Radio</a></li>
        </ul>
        <p class="main">Your Music</p>
        <ul class="list-unstyled njir">
          <li><a href="#"><i class="fa fa-random" aria-hidden="true"></i> Songs</a></li>
          <li><a href="#"><i class="fa fa-folder-open" aria-hidden="true"></i> Albums</a></li>
          <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Artist</a></li>
          <li><a href="#"><i class="fa fa-podcast" aria-hidden="true"></i> Stations</a></li>
          <li><a href="#"><i class="fa fa-server" aria-hidden="true"></i> Local Files</a></li>
        </ul>
        <p class="main">Playlists</p>
        <ul class="list-unstyled njir">
          <li><a href="#"><i class="fa fa-hashtag" aria-hidden="true"></i> Aku Rapopo</a></li>
          <li><a href="#"><i class="fa fa-hashtag" aria-hidden="true"></i> Workout</a></li>
          <li><a href="#"><i class="fa fa-hashtag" aria-hidden="true"></i> Foo Bar</a></li>
        </ul>
      </div>
    </div>
    <div class="content-nav">
      <div class="main-isi">
        <div class="ilov">

        </div>
      </div>
      <div class="right-isi">
        <div class="who-to-follow">
          <p class="who">Who to Follow</p>
          <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="slider_img carousel-inner" role="listbox">
              <div class="item active">
                <span class="fa fa-close"></span>
                <img src="//scontent-sin6-1.cdninstagram.com/t51.2885-19/s150x150/15048222_1734431136879497_2896078653643292672_a.jpg" alt="">
                <p class="name">Haruka Nakagawa</p>
                <span class="follower">200 Followers</span>
                <p class="fi"><a href="#" class="btn btn-fo">Follow</a></p>
              </div>
              <div class="item">
                <span class="fa fa-close"></span>
                <img src="//scontent-sin6-1.cdninstagram.com/t51.2885-19/s150x150/13686982_1777426179142208_945444185_a.jpg" alt="">
                <p class="name">Nikita Willy</p>
                <span class="follower">231 Followers</span>
                <p class="fi"><a href="#" class="btn btn-fo">Follow</a></p>
              </div>
              <div class="item">
                <span class="fa fa-close"></span>
                <img src="//scontent-sin6-1.cdninstagram.com/t51.2885-19/s150x150/16110638_1632989020337318_2160665164624429056_a.jpg" alt="">
                <p class="name">Sheryl Shelnafia</p>
                <span class="follower">501 Follower</span>
                <p class="fi"><a href="#" class="btn btn-fo">Follow</a></p>
              </div>
              <div class="item">
                <span class="fa fa-close"></span>
                <img src="//scontent-sin6-1.cdninstagram.com/t51.2885-19/11356605_1465857573741205_1987891545_a.jpg" alt="">
                <p class="name">Rhaline Shah</p>
                <span class="follower">10010 Followers</span>
                <p class="fi"><button type="button" class="btn btn-fo">Follow</button></p>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
              <span class="fa fa-angle-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
              <span class="fa fa-angle-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
