<div class="main-pg">
  <div class="nger">
    <div class="left-nav">
      <div class="content-left-nav">
        <p class="main">Main</p>
        <ul class="list-unstyled njir">
          <li class="act"><i class="fa fa-codiepie" aria-hidden="true"></i> Browser</li>
          <li><i class="fa fa-map-signs" aria-hidden="true"></i> Activity</li>
          <li><i class="fa fa-podcast" aria-hidden="true"></i> Radio</li>
        </ul>
        <p class="main">Your Music</p>
        <ul class="list-unstyled njir">
          <li><i class="fa fa-random" aria-hidden="true"></i> Songs</li>
          <li><i class="fa fa-folder-open" aria-hidden="true"></i> Albums</li>
          <li><i class="fa fa-sitemap" aria-hidden="true"></i> Artist</li>
          <li><i class="fa fa-podcast" aria-hidden="true"></i> Stations</li>
          <li><i class="fa fa-server" aria-hidden="true"></i> Local Files</li>
        </ul>
        <p class="main">Playlists</p>
        <ul class="list-unstyled njir">
          <li><i class="fa fa-hashtag" aria-hidden="true"></i> Aku Rapopo</li>
          <li><i class="fa fa-hashtag" aria-hidden="true"></i> Workout</li>
          <li><i class="fa fa-hashtag" aria-hidden="true"></i> Foo Bar</li>
        </ul>
      </div>
    </div>
    <div class="content-nav">

    </div>
    <div class="clear"></div>
  </div>
</div>
