<div class="login-bg">
  <div class="container">
    <div class="lagi-lagi">
      <div class="title">
        <h4><span class="fa fa-spotify"></span>Spotifer.</h4>
      </div>
      <div class="facebook">
        <button type="button" class="btn btn-default btn-facebooks">SIGN UP WITH FACEBOOK</button>
      </div>
      <div class="email">
        <button type="button" id="foo_signup" class="btn btn-default btn-enail">SIGN UP WITH EMAIL ADDRESS</button>
      </div>
      <div class="sprt">
        <p class="jka">By signing up, you agree to Spotify's <span>Terms and Conditions of Use</span> and <span>Privacy Policy</span></p>
      </div>
      <div class="fir">
        <button type="button" class="btn btn-default fo" id="foo_login">Already have an account? Log in here.</button>
      </div>
    </div>
  </div>
</div>
